@model  List<WAFSQLDemo.Models.CountryInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Countries</h2>

<table>
    <tr style="background-color: lightblue;">
        <td>Country</td>
        <td>Capital</td>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td width="200px">
            @Html.Raw(item.Country)
        </td>
        <td>
            @Html.Raw(item.Capital)
        </td>
    </tr>
    }
</table>